# Ansible
.ansible/
meta/.galaxy_install_info

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.eggs/
*.egg-info/
*.egg

# Environments
.env
.envrc
.venv

# VSCode
.vscode/
!.vscode/settings.example.json
.devcontainer/
